#ignore everything apart from php, css, xml, htaccess, sql, js
*
!*/
!*.php
!*.css
!*.xml
!*.yml
!*.htaccess
!*.sql
!*.js
!*.ini
!.gitignore
!*.cmd
!*.txt
!bootstrap.php.cache
!app/console
!*.twig
!*.jpg
!*.gif
!*.png
!*.xliff
app/logs
app/cache
plugins
nbproject
.idea/
src/Acme
app_local.php
Thumbs.db
/app/config/config_local.yml
.settings
